// Color Variables
$primary-color: #042778;
$text-color: #333333;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #D1D1D1;
$black: #000;
$white: #fff;
$light: rgb(223, 223, 223);

$primary-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 13%, rgba(0,212,255,1) 100%);

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';